@tailwind base;
@tailwind components;
@tailwind utilities;

/* NAVBAR STYLES */

.nav-link {
  @apply relative py-2 transition-all duration-300;
}

.active-link {
  @apply bg-[#D9D9D9] rounded-[33px] px-8 py-4;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #5e5e5e;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: all 0.3s ease;
}

.active::after {
  width: 100%;
}

.nav-link:hover {
  color: black;
}

.nav-link:hover::after {
  width: 100%;
}

.active-link:hover::after {
  width: 0%;
}
