@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: var(--background);

}
@font-face {
  font-family: "Abhaya Libre";
  src: url("/font/AbhayaLibre-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; 
}
@font-face {
  font-family: "Abhaya Libre";
  src: url("/font/AbhayaLibre-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800; 
}